.btn {
  background: $orange;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 30px;
  margin-left: 15px;
  @include ubuntu();
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;

  &--black {
    background: #2f3234;
    margin: 0;
  }
}